:root {
    --color: #23B99F;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1055px;
    margin: 0 auto;
}

body {
    font-family: 'Raleway', sans-serif;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.visuallyhidden {
    border: 0;
    clip: rect( 0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.btn {
    background: var(--color);
    color: white;
    border: 0;
    text-transform: uppercase;
    text-decoration: none;
}

.section-title {
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    font-weight: 600;
    padding-bottom: 15px;
    margin-bottom: 40px;
}

.section-title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 320px;
    height: 8px;
    background: var(--color);
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-1-3 {
    float: left;
    width: 33.3333%;
    padding: 0 15px;
}

/************** Header *************/

.page-header {
    height: 40px;
    background-color: black;
    position: relative;
    z-index: 1;
}

.page-logo  {
    float: left;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 40px;
}

.page-logo span {
    color: var(--color);
}

.page-nav {
    float: right;
}
.page-nav-list {}

.page-nav-list li {
    display: inline-block;
    position: relative;

}
.page-nav-list a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding: 0 20px;
    line-height: 40px;
    transition: 0.5s color;
}

.page-nav-list a:hover {
    color: var(--color);
}

.page-nav-sublist {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%, 0);
    background: black;
    padding: 10px;
}
.page-nav-sublist:before {
    content: '';
    width: 17px;
    height: 17px;
    background: black;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%) rotate(45deg);
}
.page-nav-sublist:after {
    content: '';
    background-color: transparent;
    position: absolute;
    left: 0;
    top: -15px;
    width: 100%;
    height: 15px;
}

.page-nav-sublist li {
    display: block;
}

.page-nav-sublist a {
    font-weight: normal;
    text-transform: none;
    line-height: 30px;
}

.page-nav-sublist {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s opacity;
}

.page-nav-list li:hover .page-nav-sublist {
    opacity: 1;
    visibility: visible;
}

/************** Banner *************/

.main-banner-bg {
    background: linear-gradient(#fff, #ddd);
}

.banner {
    height: 505px;
    position: relative;
}

.banner-prev, .banner-next {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    font-size: 60px;
    color: var(--color);
    border: 0;
    background: transparent;
    cursor: pointer;
}

.banner-next {
    right: 0;
    left: auto;
}

.banner-next:focus, .banner-prev:focus {
    outline: none;
}

.banner-slides {
    position: relative;
    height: 100%;
    background: yellow;
    margin: 0 100px;
}

.banner-slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 0.4s opacity;
    opacity: 0;
}

.banner-slide-active {
    opacity: 1;
}

/************** Artykuły *************/

.main-articles {
    padding: 35px 0 60px;
}

.main-article {
    position: relative;
    display: inline-block;

}
.main-article img {}
.main-article-bar {
    background: rgba(255 255 255 0.5);
    height: 65px;
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    padding: 15px 10px;
}

.main-article-title {
    font-size: 15px;
    font-weight: 600;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.main-article-title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 135px;
    height: 8px;
    background: var(--color);
}

.main-article-text  {
    font-size: 14px;
    padding: 25px 18px;
    border: 1px solid #ddd;
}

.main-article-text p {
    margin-bottom: 30px;
}

.main-plans {
    background: #f1f1f1;
    padding: 35px 0 60px;
}

/************** Formularz *************/

.main-contact {
    padding: 35px;
}

.form {}
.form-left {
    width: 630px;
    float: left;
}
.form-right {
    width: 340px;
    float: right;
}
.form-row {
    margin-bottom: 25px;
}

.form-graphic {
    height: 210px;
    background: url(../images/red_chair.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -30px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    height: 65px;
    border: 1px solid var(--color);
    width: 100%;
    padding: 0 20px;
    font-size: 25px;
    font-weight: 300;
    font-family: inherit;
    transition: 0.3s box-shadow;
}

.form textarea {
    height: 180px;
    padding: 20px;
    resize: none;
}

.form input:focus,
.form textarea:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px var(--color);
}

.form ::placeholder {
    color: #bbbbbb;
}

.form-checkbox {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    position: relative;
    padding-left: 60px;
    padding-top: 10px;
    color: #bbb;
    cursor: pointer;

}
.form-checkbox input {}

.form-checkbox-mark {
    width: 50px;
    height: 50px;
    border: 1px solid var(--color);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.form-checkbox input:checked + .form-checkbox-mark {
    background: url(../images/form_ok.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.form .btn {
    margin-top: 10px;
    padding: 20px 0;
    font-size: 28px;
    width: 100%;
    border-radius: 6px;
}





